---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	font-family: Helvetica, Arial, sans-serif;
	width:75%;
	margin:0 auto;
	padding-top:25px;
}

img {
	max-width:50px;
}

ol {
	li {
		font-size:4em;
	}
}

@media screen and (max-width: 600px) {
	body {
		padding-top:25px;
	}
	img {
		display:block;
	}
	ol {
		li {
			font-size:1.8em;
		}
	}
}
